<h1>TagSystem#index</h1>
<p>Find me in app/views/tag_system/index.html.erb</p>

<%= @items.size %>
<%= Picture.count %>

<p><%= @testing1 %></p>

<p><%= @title %></p>



<%- @img_link.each do |item| %>
	
	<p> <%= item %> </p>
<% end %>
