<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Keyword:</b>
  <%= @picture.keyword %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Source:</b>
  <%= @picture.source %>
</p>

<p>
  <b>Image url:</b>
  <%= @picture.image_url %>
</p>

<p>
  <b>Article url:</b>
  <%= @picture.article_url %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
