
<div class ="navbar">
	<a href="#" class="button">category</a>
	<a href="#" class="button">date</a>
	<a href="#" class="button">search</a>
	<a href="#" class="button">load</a>

</div>


<p>Currently <%= @items.size %> news items with <%= Picture.count %> images</p> 


<%= will_paginate @items %>

<%= search_form_for @search do |f| %>
	<div class ="field">
		<%= f.label :source_cont, "Search for a title" %>
		<%= f.text_field :source_cont %>
	</div>
	<div class="actions"><%= f.submit %></div>
<% end %> 
  
<div class = 'items' id ='items'>
<%= render @items %>
</div>



